<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.online.chargingsystem.mapper.ChargingQueueMapper">
    
    <resultMap id="BaseResultMap" type="com.online.chargingsystem.entity.ChargingQueue">
        <id column="id" property="id"/>
        <result column="pile_id" property="pileId"/>
        <result column="queue_type" property="queueType"/>
        <result column="queue_number" property="queueNumber"/>
        <result column="car_id" property="carId"/>
        <result column="request_mode" property="requestMode"/>
        <result column="request_amount" property="requestAmount"/>
        <result column="queue_time" property="queueTime"/>
        <result column="status" property="status"/>
    </resultMap>

    <select id="findByPileId" resultMap="BaseResultMap">
        SELECT * FROM charging_queues 
        WHERE pile_id = #{pileId}
    </select>

    <select id="findByQueueType" resultMap="BaseResultMap">
        SELECT * FROM charging_queues 
        WHERE queue_type = #{queueType}
    </select>
</mapper> 